.backgroundAfter {
  background-image: url(../img/bgPersoDesktop.png);
  background-size: cover;
  margin-top: 10vh;
  width: 100%;
  height: 90vh;
  background-size: cover;
}
.choiceContent {
  display: flex;
  justify-content: space-around;
  .mainContent__divider {
    margin-top: 5vh;

    height: 80vh;
  }
}
.choiceContent__jackets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10vh;
  margin-left: 20vh;
  p {
    color: white;
    font-family: "Raleway", "sans-serif";
    font-weight: bold;
    font-size: 30px;
  }
}
.choiceContent__jacket {
  img {
    width: 15vw;
  }
}
.choiceContent__choose {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choiceContent__size {
  margin-top: 10vh;
  p {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.2rem;
    margin-left: -15vh;
  }
  .choiceContent__sizes {
    display: flex;
    justify-content: space-around;
    width: 60vh;
  }
}

.choiceContent__color {
  margin-top: 10vh;

  p {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.2rem;
    margin-left: -15vh;
  }
  .choiceContent__colors {
    display: flex;
    width: 60vh;
    justify-content: space-around;
  }
}
.choiceContent__buy {
  display: flex;
  background-color: black;
  padding: 20px 100px;
  width: fit-content;
  margin-top: 15vh;
  p {
    font-size: 30px;
    color: white;
  }
}
.choiceContent__buy:hover {
  background-color: white;
  p {
    color: black;
  }
}
