@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap");

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
