.hoverTiles {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  h3 {
    color: white;
    font-weight: bold;
    font-size: 96px;
  }
}

.hoverTiles__simi {
  margin-top: 20px;
  width: 97vw;
  height: 65vh;
  position: relative;
  background: url("../img/simili-cuir.png") no-repeat center;
  background-size: cover;
  color: #eeeeee;
  transition: transform 0.5s;

  .titlesimi {
    font-weight: bolder;
    padding-bottom: 0;
  }
  .titlesimi--h {
    // margin-left: 100px;
    display: none;
  }
  .textsimi--h {
    display: none;
  }
  img {
    display: none;
    transform: rotateY(180deg);
  }
  .button {
    display: none;
  }
  .hoverTiles__simiBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 97vw;
    height: 65vh;
  }
}

.hoverTiles__phenix {
  margin-top: 20px;
  width: 97vw;
  height: 65vh;
  position: relative;
  background: url("../img/collection.png") no-repeat center;
  background-size: cover;
  color: #eeeeee;
  transition: transform 0.5s;

  .titlephenix {
    font-weight: bolder;
    padding-bottom: 0;
  }
  .titlephenix--h {
    display: none;
  }
  .textphenix--h {
    display: none;
  }
  img {
    display: none;
    transform: rotateY(180deg);
  }
  .button {
    display: none;
  }
  .hoverTiles__phenixBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 97vw;
    height: 65vh;
  }
}

.hoverTiles__phenix:hover {
  background-color: #000000;
  background-image: none;
  font-size: 45px;
  align-items: flex-start;

  .leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
  }

  .hoverTiles__phenixBox {
    display: none;
  }
  .titlephenix--h {
    display: block;
    font-size: 50px;
    @media screen and (max-width: 1300px) {
      font-size: 42px;
    }
    @media screen and (max-width: 999px) {
      font-size: 34px;
    }
  }
  .textphenix--h {
    font-size: 16px;
    line-height: 40px;
    @media screen and (max-width: 1300px) {
      font-size: 14px;
    }
    @media screen and (max-width: 999px) {
      font-size: 10px;
    }
  }
  h3 {
    padding: 5vh;
  }

  div {
    display: block;
    font-size: 16px;
    width: 40vw;
    font-weight: thin;
    padding: 10px;
    margin-left: 40px;
    line-height: 32px;
    flex-grow: 1;
    text-align: center;
    text-justify: distribute;
  }

  .button {
    position: relative;
    bottom: 0;
    button {
      top: auto;
      position: relative;
    }
  }

  .collectionBg {
    display: block;
    position: absolute;
    width: 48.5vw;
    height: 32.5vh;
    right: 0;
    top: 0;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
  }

  .collectionBg:hover {
    opacity: 1;
  }

  .jackets {
    padding: 0;
    background-color: #eeeeee;
    width: 48.5vw;
    height: 32.5vh;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      height: 175px;
      width: auto;
      display: block;
      @media screen and (max-width: 1300px) {
        height: 100px;
      }
    }
    :hover {
      transform: scale(1.3);
    }
  }
}
.hoverTiles__textile {
  margin-top: 1.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hoverTiles__simi:hover {
  background-color: #ab8a65;
  background-image: none;
  font-size: 45px;
  align-items: flex-start;

  .leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
  }

  .hoverTiles__simiBox {
    display: none;
  }
  .titlesimi--h {
    display: block;
    font-size: 60px;
  }
  .textsimi--h {
    font-size: 40px;
    line-height: 50px;
  }
  h3 {
    padding: 5vh;
  }

  div {
    display: block;
    font-size: 16px;
    width: 40vw;
    font-weight: thin;
    padding: 10px;
    margin-left: 40px;
    line-height: 32px;
    flex-grow: 1;
    text-align: center;
    text-justify: distribute;
  }

  .button {
    position: relative;
    bottom: 0;
    button {
      top: auto;
      position: relative;
    }
  }

  .simiBg {
    display: block;
    position: absolute;
    width: 48.5vw;
    height: 32.5vh;
    right: 0;
    top: 0;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
  }

  .simiBg:hover {
    opacity: 1;
  }

  .jackets {
    padding: 0;
    background-color: #7f573d;
    width: 48.5vw;
    height: 32.5vh;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      height: 175px;
      width: auto;
      display: block;
    }
    :hover {
      transform: scale(1.3);
    }
  }
}

.hoverTiles__alcantara {
  margin-top: 20px;
  width: 97vw;
  height: 65vh;
  position: relative;
  background: url("../img/alcantara.png") no-repeat center;
  background-size: cover;
  color: #eeeeee;
  transition: transform 0.5s;

  .titlealcantara {
    font-weight: bolder;
    padding-bottom: 0;
  }
  .titlealcantara--h {
    display: none;
  }
  .textalcantara--h {
    display: none;
  }
  img {
    display: none;
    transform: rotateY(180deg);
  }
  .button {
    display: none;
  }
  .hoverTiles__alcantaraBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 97vw;
    height: 65vh;
  }
}

.hoverTiles__alcantara:hover {
  background-color: #1f333f;
  background-image: none;
  font-size: 45px;
  align-items: flex-start;

  .leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
  }

  .hoverTiles__alcantaraBox {
    display: none;
  }
  .titlealcantara--h {
    display: block;
    font-size: 60px;
  }
  .textalcantara--h {
    font-size: 40px;
    line-height: 50px;
  }
  h3 {
    padding: 5vh;
  }

  div {
    display: block;
    font-size: 16px;
    width: 40vw;
    font-weight: thin;
    padding: 10px;
    margin-left: 40px;
    line-height: 32px;
    flex-grow: 1;
    text-align: center;
    text-justify: distribute;
  }

  .button {
    position: relative;
    bottom: 0;
    button {
      top: auto;
      position: relative;
    }
  }

  .alcantaraBg {
    display: block;
    position: absolute;
    width: 48.5vw;
    height: 32.5vh;
    right: 0;
    top: 0;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
  }

  .alcantaraBg:hover {
    opacity: 1;
  }

  .jackets {
    padding: 0;
    background-color: #97949a;
    width: 48.5vw;
    height: 32.5vh;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      height: 175px;
      width: auto;
      display: block;
    }
    :hover {
      transform: scale(1.3);
    }
  }
}
//try//neoprene
.hoverTiles__neoprene {
  margin-top: 20px;
  width: 97vw;
  height: 65vh;
  position: relative;
  background: url("../img/neoprene.png") no-repeat center;
  background-size: cover;
  color: #eeeeee;
  transition: transform 0.5s;

  .titleneoprene {
    font-weight: bolder;
    padding-bottom: 0;
  }
  .titleneoprene--h {
    display: none;
  }
  .textneoprene--h {
    display: none;
  }
  img {
    display: none;
    transform: rotateY(180deg);
  }
  .button {
    display: none;
  }
  .hoverTiles__neopreneBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 97vw;
    height: 65vh;
  }
}

.hoverTiles__neoprene:hover {
  background-color: #5d889d;
  background-image: none;
  font-size: 45px;
  align-items: flex-start;

  .leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
  }

  .hoverTiles__neopreneBox {
    display: none;
  }
  .titleneoprene--h {
    display: block;
    font-size: 60px;
  }
  .textneoprene--h {
    font-size: 40px;
    line-height: 50px;
  }
  h3 {
    padding: 5vh;
  }

  div {
    display: block;
    font-size: 16px;
    width: 40vw;
    font-weight: thin;
    padding: 10px;
    margin-left: 40px;
    line-height: 32px;
    flex-grow: 1;
    text-align: center;
    text-justify: distribute;
  }

  .button {
    position: relative;
    bottom: 0;
    button {
      top: auto;
      position: relative;
    }
  }

  .neopreneBg {
    display: block;
    position: absolute;
    width: 48.5vw;
    height: 32.5vh;
    right: 0;
    top: 0;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
  }

  .neopreneBg:hover {
    opacity: 1;
  }

  .jackets {
    padding: 0;
    background-color: #a5c9db;
    width: 48.5vw;
    height: 32.5vh;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      height: 175px;
      width: auto;
      display: block;
    }
    :hover {
      transform: scale(1.3);
    }
  }
}
//try//Hypalon
.hoverTiles__hypalon {
  margin-top: 20px;
  width: 97vw;
  height: 65vh;
  position: relative;
  background: url("../img/hypalon2.png") no-repeat center;
  background-size: cover;
  color: #eeeeee;
  transition: transform 0.5s;

  .titlehypalon {
    font-weight: bolder;
    padding-bottom: 0;
  }
  .titlehypalon--h {
    display: none;
  }
  .texthypalon--h {
    display: none;
  }
  img {
    display: none;
    transform: rotateY(180deg);
  }
  .button {
    display: none;
  }
  .hoverTiles__hypalonBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 97vw;
    height: 65vh;
  }
}

.hoverTiles__hypalon:hover {
  background-color: #1a2739;
  background-image: none;
  font-size: 45px;
  align-items: flex-start;

  .leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
  }

  .hoverTiles__hypalonBox {
    display: none;
  }
  .titlehypalon--h {
    display: block;
    font-size: 60px;
  }
  .texthypalon--h {
    font-size: 40px;
    line-height: 50px;
  }
  h3 {
    padding: 5vh;
  }

  div {
    display: block;
    font-size: 16px;
    width: 40vw;
    font-weight: thin;
    padding: 10px;
    margin-left: 40px;
    line-height: 32px;
    flex-grow: 1;
    text-align: center;
    text-justify: distribute;
  }

  .button {
    position: relative;
    bottom: 0;
    button {
      top: auto;
      position: relative;
    }
  }

  .hypalonBg {
    display: block;
    position: absolute;
    width: 48.5vw;
    height: 32.5vh;
    right: 0;
    top: 0;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
  }

  .hypalonBg:hover {
    opacity: 1;
  }

  .jackets {
    padding: 0;
    background-color: #8d8d8c;
    width: 48.5vw;
    height: 32.5vh;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      height: 175px;
      width: auto;
      display: block;
    }
    :hover {
      transform: scale(1.3);
    }
  }
}
.hoverTiles__text1 {
  background-color: #1e2022;
  height: 65px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;

  h3 {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    justify-content: center;
    color: #eeeeee;
  }
}
//lambo//
