.headerContent {
  display: none;
}
.mobile {
  display: none;
  margin: 0;
}

// mediaQ for desktop
@media screen and (min-width: 720px) {
  .mobile {
    display: none;
  }
  .headerContent {
    display: flex;
  }
}

// mediaQ for in-between
@media screen and (max-width: 1300px) {
  // header
  .header__menu {
    li {
      font-size: 8px;
    }
  }

  // hero
  .landingPage__phenix {
    width: fit-content;
    span {
      font-size: 30px;
      span {
        font-size: 34px;
      }
    }
  }
  .landingPage__jackets {
    img {
      height: 150px;
    }
    p {
      font-size: 14px;
    }
  }

  //hoverTiles
  .hoverTiles {
    div {
      div {
        h3 {
          font-size: 50px;
        }
      }
    }
  }
  .hoverTiles {
    div {
      div {
        div {
          font-size: 12px !important;
        }
      }
    }
  }
  .hoverTiles__text1 {
    h3 {
      font-size: 30px;
    }
  }

  //general
  .button {
    button {
      padding: 15px;
    }
  }
}

// mediaQ for mobile
@media screen and (max-width: 720px) {
  //header
  .mobile {
    display: flex;
  }
  .headerContent {
    display: none;
  }

  // hero
  .landingPage__phenix {
    width: fit-content;
    span {
      font-size: 20px;
      span {
        font-size: 24px;
      }
    }
  }
  .landingPage__jackets {
    position: relative;
    width: 60%;
    height: 50%;
    :nth-child(1) {
      img {
        position: absolute;
        top: 290px;
        z-index: 4;
        left: 0%;
      }
    }
    :nth-child(2) {
      img {
        position: absolute;
        top: 210px;
        z-index: 3;
        left: 20%;
      }
    }
    :nth-child(3) {
      img {
        position: absolute;
        top: 130px;
        z-index: 2;
        left: 40%;
      }
    }
    :nth-child(4) {
      img {
        position: absolute;
        top: 50px;
        z-index: 1;
        left: 60%;
      }
    }
    p {
      display: none;
    }
  }

  //hoverTiles
  .landingPage__textiles {
    p {
      color: #eeeeee;
      font-size: 14px;
      span {
        color: white;
        font-size: 16px;
      }
    }
  }
  .hoverTiles {
    .dispnoneM {
      display: none;
    }
  }
  .hoverTiles__text1 {
    h3 {
      font-size: 24px;
    }
  }

  //general
  .button {
    button {
      padding: 10px;
    }
    span {
      display: none;
    }
  }
}
