.headerContent {
  display: none;
}
.mobile {
  display: none;
  margin: 0;
}

// mediaQ for desktop
@media screen and (min-width: 720px) {
  .mobile {
    display: none;
  }
  .headerContent {
    display: flex;
  }
}

// mediaQ for in-between
@media screen and (max-width: 1300px) {
  // header
  .header__menu {
    li {
      font-size: 8px;
    }
  }
  // hero
  .landingPage__jackets {
    img {
      height: 150px;
    }
    p {
      font-size: 14px;
    }
  }
}

// mediaQ for mobile
@media screen and (max-width: 720px) {
  .mobile {
    display: flex;
  }
  .headerContent {
    display: none;
  }
  .landingPage__jackets {
    :nth-child(1) {
      img {
        margin-top: 200px;
        z-index: 4;
      }
    }
    :nth-child(2) {
      img {
        margin-top: 125px;
        z-index: 3;
      }
    }
    :nth-child(3) {
      img {
        margin-top: 50px;
        z-index: 2;
      }
    }
    :nth-child(4) {
      img {
        margin-top: -25px;
        z-index: 1;
      }
    }
    p {
      display: none;
    }
  }
  .landingPage__textiles {
    p {
      color: #eeeeee;
      font-size: 14px;
      span {
        color: white;
        font-size: 16px;
      }
    }
  }
}
