html {
  overflow-x: hidden;
}

.backgroundPerso {
  background-image: url("../img/bgPersoDesktop.png");
  height: 90vh;
  background-repeat: no-repeat;
  margin-top: 10vh;
  width: 100%;
  background-size: cover;
  z-index: -1;
}
.mainContent__text {
  position: relative;
  width: 70vw;
  top: 10vh;
  left: 10vw;
  p {
    font-size: 20px;
    color: white;
  }
  b {
    font-size: 20px;
  }
}

.mainContent__choice {
  margin-top: 25vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
  h3 {
    display: none;
  }
  h2,
  h3 {
    color: white;
    font-size: 40px;
    font-weight: bolder;
    margin-top: -50px;
  }
}
.mainContent__choice:hover {
  h3 {
    display: block;
  }
  h2 {
    display: none;
  }
}

.mainContent__car {
  background-image: url(../img/choiceCar.png);
  background-size: cover;
  width: 700px;
  height: 321px;
}
.mainContent__boat {
  background-image: url(../img/choiceBoat.png);
  background-size: cover;
  width: 700px;
  height: 321px;
}
.hoverContent {
  display: flex;
  color: white;
}
